nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  /* background-color: red; */
  padding: 0 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#logo {
  display: flex;
  align-items: center;
}

#logo .fa-youtube {
  color: red;
  font-size: 35px;
  margin-left: 10px;
}
#searchbar input {
  padding: 5px 8px;
  /* border-radius: 2px; */
  /* border: solid 2px red; */
}

#searchbar input:focus {
  outline: solid 1px rgba(170, 1, 1, 0.457);
}
#settings {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-around;
}

#settings img {
  height: 26px;
  border-radius: 50%;
}
