<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Layout</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#"> Contact</a>
        </li>
      </ul>
      <div id="logo">
        <i class="fab fa-battle-net"></i>
      </div>
    </nav>

    <div class="container">
      <menu>
        <img src="./images/jump.jpg" alt="jump in the water" />

        <div class="btn-email">
          <a href="mailto:alexduval79@gmail.com">
            <i class="far fa-envelope"></i>
          </a>
        </div>
      </menu>
      <article>
        <h1>Mon sUper TitrE</h1>
        <iframe
          width="90%"
          height="500"
          src="https://www.youtube.com/embed/ieTHC78giGQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
          sapiente aperiam cumque ex consectetur veniam, sequi quis quia illum
          eligendi quidem sint! Debitis quam, at vero ex possimus aspernatur
          beatae sapiente? Dolore reiciendis laudantium illum fugiat dolor rerum
          temporibus doloribus omnis, in dolorem odio veritatis blanditiis
          soluta possimus maiores quasi aut, quas facilis eaque optio atque quod
          suscipit hic impedit? Error dolorum dolorem ipsa, beatae cum enim
          aspernatur tempore. Ipsa assumenda iste facere fuga quasi?
          Exercitationem, veritatis quae blanditiis doloremque perferendis autem
          ipsum maxime excepturi placeat. Sequi commodi aspernatur et velit,
          ullam adipisci labore tenetur doloribus fugiat quis. Placeat a iusto
          est accusamus accusantium vel debitis quae, hic harum, nemo
          perspiciatis quam quia qui? Repellendus magni eveniet quasi aliquam
          minima, non quae minus alias totam veritatis fugit id laboriosam
          tempore quam exercitationem culpa quis deserunt, sint hic dolores
          doloribus eaque. Nesciunt a facilis adipisci reprehenderit architecto
          at magnam ipsam laudantium fugiat id voluptate nam, nemo distinctio
          ipsa quaerat? Eligendi optio architecto dolorum dolores dolore vero
          nisi animi ipsam saepe, facilis impedit deserunt natus illum error
          earum labore assumenda sunt, totam veritatis ut possimus ipsa ipsum
          voluptas quia! Voluptates, incidunt. Officia recusandae in excepturi
          laborum soluta libero aliquam dolor corporis consequatur voluptas
          explicabo nobis similique odit, possimus asperiores fugit. Tempore eos
          distinctio, labore ipsam, porro quae delectus illum dignissimos est
          placeat, error quia praesentium! Reprehenderit vel in asperiores nam
          sequi, aliquam ullam cupiditate voluptatem ut dolore quis dolores
          harum blanditiis recusandae. Tempora distinctio nulla illo ullam
          repellat commodi rem. Ratione esse autem iure eum voluptate dolorum
          accusantium recusandae accusamus, consectetur, non minus corporis! Est
          eos, quae officiis omnis aspernatur excepturi dolores iste illum minus
          consequatur ad, dicta, vero reprehenderit. Totam dolore cupiditate
          deleniti labore unde officiis perspiciatis incidunt molestias
          aspernatur, pariatur aliquid impedit neque, laborum officia, numquam
          omnis rem dolorum! Amet!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
          sapiente aperiam cumque ex consectetur veniam, sequi quis quia illum
          eligendi quidem sint! Debitis quam, at vero ex possimus aspernatur
          beatae sapiente? Dolore reiciendis laudantium illum fugiat dolor rerum
          temporibus doloribus omnis, in dolorem odio veritatis blanditiis
          soluta possimus maiores quasi aut, quas facilis eaque optio atque quod
          suscipit hic impedit? Error dolorum dolorem ipsa, beatae cum enim
          aspernatur tempore. Ipsa assumenda iste facere fuga quasi?
          Exercitationem, veritatis quae blanditiis doloremque perferendis autem
          ipsum maxime excepturi placeat. Sequi commodi aspernatur et velit,
          ullam adipisci labore tenetur doloribus fugiat quis. Placeat a iusto
          est accusamus accusantium vel debitis quae, hic harum, nemo
          perspiciatis quam quia qui? Repellendus magni eveniet quasi aliquam
          minima, non quae minus alias totam veritatis fugit id laboriosam
          tempore quam exercitationem culpa quis deserunt, sint hic dolores
          doloribus eaque. Nesciunt a facilis adipisci reprehenderit architecto
          at magnam ipsam laudantium fugiat id voluptate nam, nemo distinctio
          ipsa quaerat? Eligendi optio architecto dolorum dolores dolore vero
          nisi animi ipsam saepe, facilis impedit deserunt natus illum error
          earum labore assumenda sunt, totam veritatis ut possimus ipsa ipsum
          voluptas quia! Voluptates, incidunt. Officia recusandae in excepturi
          laborum soluta libero aliquam dolor corporis consequatur voluptas
          explicabo nobis similique odit, possimus asperiores fugit. Tempore eos
          distinctio, labore ipsam, porro quae delectus illum dignissimos est
          placeat, error quia praesentium! Reprehenderit vel in asperiores nam
          sequi, aliquam ullam cupiditate voluptatem ut dolore quis dolores
          harum blanditiis recusandae. Tempora distinctio nulla illo ullam
          repellat commodi rem. Ratione esse autem iure eum voluptate dolorum
          accusantium recusandae accusamus, consectetur, non minus corporis! Est
          eos, quae officiis omnis aspernatur excepturi dolores iste illum minus
          consequatur ad, dicta, vero reprehenderit. Totam dolore cupiditate
          deleniti labore unde officiis perspiciatis incidunt molestias
          aspernatur, pariatur aliquid impedit neque, laborum officia, numquam
          omnis rem dolorum! Amet!
        </p>
      </article>
    </div>

    <footer>
      <div class="bloc social">
        <ul>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
      <div class="bloc map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85723.7355530764!2d6.131316694777375!3d45.90476387105268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b91ffeb98ae71%3A0x6045e6f6e19c5b8e!2sMy%20Digital%20School%20Annecy!5e0!3m2!1sfr!2sfr!4v1570542070324!5m2!1sfr!2sfr"
          width="100%"
          height="100%"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="bloc picture"></div>
    </footer>
  </body>
</html>
