#navbar {
  background-color: #fecc03;
  padding: 8px 20px;
  height: 40px;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-left {
  float: left;
  width: 50%;
  background-color: #fecc03;
}

.nav-right {
  width: 50%;
  background-color: #fecc03;
  float: right;
  text-align: right;
}

.nav-right i,
.nav-left i {
  margin: 0 5px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.chemin {
  color: grey;
  margin-left: 10px;
}

section {
  padding: 0 15px;
}

section img {
  float: left;
  margin-right: 10px;
}

info p {
  color: grey;
}

.btn {
  font-weight: bold;
  float: left;
  text-transform: uppercase;
  margin: 10px;
  padding: 4px 10px;
  border-radius: 4px;
}

.bg-black {
  color: white;
  background-color: #1e1e1e;
}
.bg-yellow {
  color: black;
  background-color: #fecc03;
}
